@model ClinicBookingSystem_Service.Models.Response.Appointment.GetAppointmentResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>Detail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .info-section {
            margin-bottom: 20px;
        }

        .service-list {
            margin-top: 20px;
        }

        .service-item {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

            .service-item:last-child {
                border-bottom: none;
            }

        .total-section {
            text-align: end;
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h3>ZouZou DuckClinic</h3>
            <h3>ĐT: (028)12345678</h3>
        </div>
        <div class="header">
            <h3>Information</h3>
            <p>Publish Date: @Model.Date</p>
        </div>
        <div class="info-section">
            <h4>Patient Information</h4>
            <ul>
                <li><strong>Phonenumber:</strong> @Model.PatientPhoneNumber</li>
                <li><strong>Name:</strong> @Model.PatientName</li>
                <li><strong>Gender:</strong> @Model.PatientGender</li>
                <li><strong>Date of Birth:</strong> @Model.PatientDateOfBirth</li>
                <li><strong>Address:</strong> @Model.PatientAddress</li>
            </ul>
        </div>
        <div class="service-section">
            <h4>Used Services</h4>
            <div class="service-list">
                @foreach (var service in Model.AppointmentServices)
                {
                    <div class="service-item">
                        <p><strong>Service name:</strong> @service.ServiceName</p>
                        <div>
                            <p><strong>Transaction:</strong> @(service.TransactionStatus == ClinicBookingSystem_BusinessObject.Enums.TransactionStatus.Paid ? "Paid" : "UnPaid")</p>
                            <p><strong>Price:</strong> @service.ServicePrice.ToString("N0") VND</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="total-section">
            <p><strong>Total paid:</strong>@Model.TotalUnPaid VND</p>
        </div>
    </div>
</body>


</html>